body, html {
    font-family: "andale mono", "lucida console", monospace;
    background: black;
    height: 100%;
    color: rgb(255, 244, 244);
}

:root {
    text-size-adjust: 100%;
}

.active {
    color: rgb(0, 157, 141);
  }
  

