body, html {
    display: flex;
    font-family: "andale mono", "lucida console", monospace;
    background: linear-gradient(to bottom, #2c3e50, #fd746c 70%);
    height: 100%;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url('img/samiha-2.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

:root {
    text-size-adjust: 100%;
}
  